@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  color-scheme: ligth dark;
  background: #141414;
}

.imagen-devstagram{
  background-image: url(./static/desvtagram.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 800px;
  height: 400px;
}


.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;

}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
  gap: px;
}

.slider .slide {
  width: 200px;
  display: flex;
  justify-content: center;
}

.slider .slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: fill;
  image-orientation: flip;
  cursor:pointer;
  opacity: 0.5;
  
}

.slider .slide img:hover{
  opacity: 1;
}

@media(max-width:700px) {
  .slider .slide img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: fill;
    image-orientation: flip;
    cursor:pointer;
    opacity: 0.5;
    
  }
  
}



@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}